{% extends 'base.html' %}

{% block content %}
<h1>Hellow World :) </h1>
{% if api %}
{% if api == 'Error' %}
    <p> Error in parsing json data </p>

    {% else %}

    <div class="jumbotron {{aqicolorstate}}">
        <h1 class="display-4">{{api.0.Category.Name}}</h1>
        <p class="lead">Area {{api.0.ReportingArea}} AQI is {{api.0.AQI}}.</p>
        <hr class="my-4">
         {{description}}     
        {% comment %} <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> {% endcomment %}
      </div>
      

{% endif %}
{% else %}
<p> Data is not provided </p>
{% endif %}
<br/>
{% comment %} {{api}} {% endcomment %}
{% endblock %}